body {
	min-height: 100dvh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;

	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	margin-inline: 1rem;
	background-color: rgba(0 0 0 / 0.6);
	padding: 4rem 5rem;
	border-radius: 1rem;
}

.title {
	color: #fff;
	text-align: center;
	margin-block-end: 1em;
	text-transform: uppercase;
	font-weight: bold;
}

@media screen and (max-width: 400px) {
	.content {
		padding: 2rem;
	}

	.my-countdown {
		display: grid;
		grid-template-columns: repeat(2, auto);
	}
}
